game-grid {
    display: flex;
    flex-wrap: wrap;
    width: calc(10 * var(--grid-cell-size));
    height: calc(10 * var(--grid-cell-size));
    border: 4px inset var(--grid-cell-border-color);
    box-sizing: content-box;
    background: var(--grid-cell-background);
}
