@import "../../node_modules/minireset.css/minireset.sass";

body {
    display: flex;
    flex-direction: column;
    align-content: center;
    min-height: 100vh;
    padding: 1rem;
    font-size: 1rem;
    font-weight: normal;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    background: hsl(51, 33%, 89%);
}

html {
    --grid-cell-size: 9vw;
    --grid-cell-font-size: 1rem;
    --grid-cell-background: hsl(0,0%,75%);
    --grid-cell-border-color: hsl(0,0%,90%);
    @media (min-width: 667px) {
        --grid-cell-size: 9vw;
        --grid-cell-font-size: 1.25rem;
    }
    @media (min-width: 768px) {
        --grid-cell-size: 50px;
        --grid-cell-font-size: 1.5rem;
    }

    @media (min-width: 1024px) {
        --grid-cell-size: 65px;
        --grid-cell-font-size: 2rem;
    }

}
